<nav class="xs-col-12 sm-col-3 lg-col-2 sm-fixed xs-t0 sm-b0 xs-l0 xs-overflow-auto sm-py3 sm-pb6 xs-border-bottom sm-border-bottom-none sm-border-right fill-white solid-nav">
  <h1 class="xs-relative xs-py3 sm-py0 sm-mb4 solid-header">
    <div class="sm-block xs-text-center">
      <a href="/">
        <img src="/img/alloy.svg" alt="Alloy" width="100" />
      </a>
    </div>
  </h1>
  <div class="sm-block xs-text-center">
    <ol class="list-unstyled xs-mb4">
      <li>
        <a class="xs-block xs-px2 xs-py2 sm-py1 bold" href="/">Home</a>
      </li>
      <li>
        <a class="xs-block xs-px2 xs-py2 sm-py1 bold" href="/about">About</a>
      </li>
      <li class="xs-py1">
        <a class="button" href="/download">Download</a>
      </li>
    </ol>
  </div>
</nav>
