---
slug: 404
path: "404"
title: 404 Not Found — Alloy is broken.
description: This brokenness makes me sad. Very sad indeed.
image: alloy-1200x630.jpg
sitemap_exclude: false
---

{% extends 'templates/default.html' %}

{% block main %}
  <h1 class="xs-col-11 sm-col-10 xs-mx-auto xs-border-bottom xs-pb3 xs-mb4 sm-my4">404 Error</h1>
  <div class="xs-col-11 sm-col-10 xs-mx-auto">
    <h2 class="bold xs-mb2">Page Not Found</h2>
    <p class="xs-mb2">We're sorry but the page you are looking for was not found. This makes us sad. But eventually you're going to have to mosey on over to another page or leave this site. Take your pick. We really don't care too much.</p>
  </div>
{% endblock %}
