---
slug: about
path: about
title: About Alloy — Alloy is the brainchild of Jonathan Simcoe.
description: Learn a little more about the guy who is building Alloy.
image: alloy-1200x630.jpg
sitemap_exclude: false
---

{% extends 'templates/default.html' %}

{% block masthead %}
  <div class="xs-text-center">
    <img src="/media/jonathan-simcoe.jpg" alt="Jonathan Simcoe in 2009." class="circle" height="300" width="300" />
  </div>
{% endblock %}

{% block main %}
  <h1 class="xs-col-11 sm-col-10 xs-mx-auto xs-border-bottom xs-pb3 xs-mb4 sm-my4">Jonathan Simcoe</h1>
  <div class="xs-col-11 sm-col-10 xs-mx-auto">
    <p class="xs-mb2">I am first a Christian and then a husband and father who strives to glorify God in all aspects of my life. I am Senior Product Designer at <a href="https://meetcircle.com">Circle with Disney</a> where I shape the direction of our brand and products through design.</p>
    <p class="xs-mb2">I previously done work for Under Armour, Mozo Shoes, TGC, Songs for Saplings, and a host of smaller clients. Before that WebMD Health Services where I helped push new standards like responsive design and adoption of HTML5 and CSS3 to produce better web experiences for clients. Prior to WebMD, I worked at the Waggener Edstrom Studio D™ digital strategies practice, churning out creative web, digital and print work for clients such as Microsoft, Bing, Verizon, HTC, Sasquatch! Music Festival, Washington Roundtable, and the Jebsen Group.</p>
    <p class="xs-mb2">I have a passion for learning and am excited about the direction of the web, as well as how new-fangled web technologies are facilitating and enabling great content to take on a variety of forms to reach new audiences.</p>
  </div>
{% endblock %}
